<div class="text-layot">
    <h1>Pipes Básicos</h1>
    <p>Pipes incluidos en Angular -
        Usualmente en el Common Module</p>
</div>


<div class="grid">
    <div class="col-4">
        <p-card header="PIPE UPPERCASE" [subheader]="nombreLower">{{nombreLower | uppercase}}</p-card>
    </div>
    <div class="col-4">
        <p-card header="pipe lowercase" [subheader]="nombreUpper">{{nombreUpper | lowercase}}</p-card>
    </div>
    <div class="col-4">
        <p-card header="Pipe Titlecase" [subheader]="nombreCompleto">{{nombreCompleto | titlecase}}</p-card>
    </div>

</div>

<div class="text-layot">
    <h1>Date - Pipe</h1>
    <p>Pipe para modificar las fechas</p>

    <div class="grid">
        <div class="col-4">
            <p-card>
                <ul>
                    <li>Fecha</li>
                    <li> fecha | date</li>
                    <li> fecha | date:'short'</li>
                    <li> fecha | date:'long'</li>
                    <li> fecha | date:'dd-MM-YYYY'</li>
                </ul>
                <hr>
                <ul>
                    <li> fecha | date:'long':'GMT-7'</li>
                </ul>
            </p-card>
        </div>
        <div class="col">
            <p-card>
                <ul>
                    <li>{{fecha}}</li>
                    <li>{{fecha | date}}</li>
                    <li>{{fecha | date:'short' }}</li>
                    <li>{{fecha | date:'long' }}</li>
                    <li>{{fecha | date:'dd-MM-YYYY' }}</li>
                </ul>
                <hr>
                <ul>
                    <li>{{fecha | date:'long':'GMT-7' }}</li>
                    <li>{{fecha | date:'long':'GMT-7':'en' }}</li>
                </ul>
            </p-card>
        </div>
    </div>
</div>